version: '3'
services:
  gnpslibrary-dash:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gnpslibrary-dash
    volumes:
      - ./output:/app/output:rw
      - ./logs:/app/logs:rw
    ports:
    - "6546:5000"
    networks:
      - default
      - nginx-net
    environment:
      #VIRTUAL_HOST: gnps-library.ucsd.edu
      VIRTUAL_HOST: library.gnps2.org
      VIRTUAL_PORT: 5000
      #LETSENCRYPT_HOST: gnps-library.ucsd.edu
      LETSENCRYPT_HOST: library.gnps2.org
      LETSENCRYPT_EMAIL: mwang87@gmail.com
    restart: always
    command: /app/run_server.sh
    deploy:
      resources:
        limits:
          memory: 2000M

  gnpslibrary-worker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gnpslibrary-worker
    volumes:
      - ./logs:/app/logs:rw
      - ./temp:/app/temp:rw
    command: /app/run_worker.sh
    restart: always
    depends_on: 
      - gnpslibrary-redis
      - gnpslibrary-rabbitmq
    networks:
      - default
      - nginx-net
    deploy:
      resources:
        limits:
          memory: 24000M


  gnpslibrary-loadworker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gnpslibrary-loadworker
    volumes:
      - ./logs:/app/logs:rw
      - ./temp:/app/temp:rw
    command: /app/run_workerload.sh
    restart: always
    depends_on: 
      - gnpslibrary-redis
      - gnpslibrary-rabbitmq
    networks:
      - default
      - nginx-net
    deploy:
      resources:
        limits:
          memory: 16000M

  gnpslibrary-structure:
    build:
      context: .
      dockerfile: Dockerfile.rdkit
    container_name: gnpslibrary-structure
    volumes:
      - ./logs:/app/logs:rw
      - ./temp:/app/temp:rw
    command: /app/run_workerstructure.sh
    restart: on-failure
    depends_on: 
      - gnpslibrary-redis
      - gnpslibrary-rabbitmq
    networks:
      - default
      - nginx-net
    deploy:
      resources:
        limits:
          memory: 4000M

  gnpslibrary-omniscidb:
    build:
      context: .
      dockerfile: Dockerfile.omnisci
    container_name: gnpslibrary-omniscidb
    image: omnisci/core-os-cpu
    restart: always
    networks:
      - default
    volumes:
      - ./temp/omnisci:/omnisci-storage
    deploy:
      resources:
        limits:
          memory: 1000M
          cpus: "4.0"

  gnpslibrary-rabbitmq:
    container_name: gnpslibrary-rabbitmq
    image: rabbitmq
    restart: always
    networks:
      - default

  gnpslibrary-redis:
    container_name: gnpslibrary-redis
    image: redis
    restart: always
    networks:
      - default

networks:
  nginx-net:
    external:
      name: nginx-net