dash
dash-bootstrap-components==0.9.2
dash-table
dash_daq
Flask
gunicorn
idna
Jinja2
plotly
requests
retrying
six
urllib3
Werkzeug
tqdm
matplotlib
Flask-Caching
pandas
redis
pyamqp
numpy
celery>=5.0.5
celery_once
vaex
blake3==0.2.1