version: '3'
services:
  wanglab-coder-libraryexplorer:
    build:
      context: .
      dockerfile: Dockerfile.coder
    container_name: wanglab-coder-libraryexplorer
    volumes:
      - .:/config/workspace:rw
    ports:
    - "8594:8443"
    restart: unless-stopped
    deploy:
     resources:
       limits:
         memory: 8000M
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=US/Pacific
      - PASSWORD=YOUR_PASSWORD